.courses{
    /* width: 100vw; */
    height: 264px;
    background: url(/images/image\ 10.png);
    background-color: #5E3F17;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
}

.section-3-courses{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    justify-content: space-between;
} 
.courses-para{
    /* position: absolute; */
    /* left: 517px; */
    /* top: 188px; */
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}