.courses {
    height: 264px;
    background: url(/images/image\ 10.png);
    background-color: #5E3F17;
    background-position: center;
    background-blend-mode: overlay;
    background-size: contain;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-3-course {
    /* width: 100%; */
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
}

.courses p {
    font-weight: 700;
    font-size: 61px;
    color: white;
}

.section-2-course {
    display: flex;
    width: 100vw;
    height: 180px;
    background: #EA9F08;
    align-items: center;
    justify-content: space-evenly;
}

.section-2-course h3 {
    height: 59px;
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #2D1E0B;
}

.section-2-course img {
    width: 224px;
    height: 224px;
}

.section-2-course p {
    height: 59px;
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #fff;
}