.course-details-1 {
    height: 500px;
    background-color: #5E3F17;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 90px;
    padding-right: 60px
}

.course-details-1 h3 {
    font-weight: 700;
    font-size: 52px;
    color: white;
}

.course-details-1 p {
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-style: normal;
}

.course-info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    gap: 20px;
}

.course-info .fa-regular, .course-info .fa-solid{
    color: #EA9F08;
}

.course-details-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.div-1 {
    width: 60%;
    background: #FFFFFF;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 20px;
    transform: translateY(-160px);
}

.div-2 {
    width: 30%;
    /* padding: 30px; */
}

.active{
    padding-bottom: 20px;
    border-bottom: 4px solid #EA9F08;
}

.div-1-nav ul{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.div-1-nav li {
    float: left;
    padding: 10px;
    color: #EA9F08;

}

.part-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.rectangle-2 {
    width: 90%;
    height: 180px;
}

.details-maths-enroll{
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    height: 50px;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-maths-enroll-2{
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid #EA9F08;
    color: #EA9F08;
    border-radius: 8px;
}

.review{
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
    justify-content: space-around;
    /* gap: 20px; */
}

.erica{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 20px; */
}

.information{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center
}