.footer-2 {
    padding: 55px 60px 2px 60px;
    width: 100%;
    height: 432px;
    background: #333333;
    color: #fff;
}

.footer-2 .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.footer-2 ul.social {
    display: flex;
    list-style: none;
    column-gap: 10px;
    
}

.footer-2 .contact {
    list-style: none;
    margin-left: -2em;
}

.footer-2 ul.contact li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    column-gap: 10px;
}

.footer-2 ul.contact li .fa-solid, .fa-brands{
    border-radius: 0px;
    font-size: 25px;
    color: #EA9F08;
}

.footer-2 ul.contact li p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-2 .newsletter input[type="email"] {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 54px;
    background: #F2F2F2;
    border-radius: 8px;
    order: 1;
    flex-grow: 0;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 54px;
    background: #EA9F08;
    border-radius: 8px;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.line-2 {
    width: 100%;
    opacity: 0.5;
    border: 2px solid #EA9F08;

}

.footer-links {
    padding-top: 20px;
}

.link-list {
    display: flex;
    flex-direction: column;
    line-height: 120%;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.link-list ::before {
    content: "\2022";
    color: #EA9F08;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}