.footer-2 {
    padding: 55px 30px 2px 30px;
    width: 100%;
    /* height: 432px; */
    background: #333333;
    color: #fff;
}

.footer-2 .footer-top {
    display: flex;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: space-evenly;
}

.footer-top  .footer_title {
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.footer-content > img, .footer-links > h5, .footer_newsletter > h5 {
    margin-bottom: 10px
}

.footer_title > h5 {
    margin-bottom: 0px;
    width: 100%;
}

.footer-2 ul.social {
    display: flex;
    list-style: none;
    column-gap: 10px;
    padding-left: 0;
}

.footer-2 .contact {
    list-style: none;
    padding-left: 0;
}

.footer-2 ul.contact li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    column-gap: 10px;
}

.footer-2 ul.contact li .fa-solid, .fa-brands{
    border-radius: 0px;
    font-size: 25px;
    color: #EA9F08;
}

.footer-2 ul.contact li p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_newsletter .form {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.footer-2 .footer_newsletter input[type="email"] {
    width: 100%;
    height: 41px;
    background: #F2F2F2;
    border-radius: 8px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 41px;
    background: #EA9F08;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.line-2 {
    width: 100%;
    opacity: 0.5;
    border: 2px solid #EA9F08;

}

.link-list {
    display: flex;
    flex-direction: column;
    line-height: 120%;
    gap: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.link-list ::before {
    content: "\2022";
    color: #EA9F08;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

@media screen and (max-width: 790px) {
    .footer-top{
        display: flex;
        flex-direction: column;
    }
}