header{
    position: sticky;
    top: 0;
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: absolute;
    width: 100 vw;
}

.top-nav ul{
    top: 44px;
    display: inline-flex;
    list-style: none;
    float: left;
    
}

.top-nav li a{
    float: left;
    text-decoration: none;
    padding: 4px;
}

.nav-content{
    text-decoration: none;
}