.main-header{
    position: sticky;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); */
    /* height: 73px; */
    left: 0px;
    top: 0px;
    align-content: center;
}

.top-header{
    z-index: 90;
    position: absolute;
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.top-nav ul{
    list-style: none;
    float: left;
    margin-bottom: 0;
}

.dropdown-menu li{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.dropdown-toggle{
    display: flex !important;
    justify-content: space-between;
    column-gap: 10px;
}

.dropdown-toggle::after{
    display: flex !important;
    top: 0.45rem;
    position: relative;
}

.top-nav li{
    float: left;
    text-decoration: none;
    padding: 10px;
}

.top-nav li a{
    color: #865A21;
    font-weight: 400px;
}

.nav-content{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 110px;
    top: 20px;
}

button.login-button{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    width: 101px;
    height: 54px;
    color: #fff;
    border: 1px solid #EA9F08;
    border-radius: 8px;
}

button.get-started{
    display: inline-flex;
    padding: 15px 30px;
    gap: 10px;
    width: 147px;
    color: #fff;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    border-radius: 8px;
}

.nav-buttons{
    display: inline;
    justify-content: space-between;
    /* padding: 0 40px 0 0; */
}