.main-header{
    position: sticky;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px;
}

.top-nav ul{
    list-style: none;
    float: left;
    
}

.dropdown-menu li{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.dropdown-toggle{
    display: flex !important;
    justify-content: space-between;
    column-gap: 10px;
}

.dropdown-toggle::after{
    display: flex !important;
    top: 0.45rem;
    position: relative;
}

.top-nav li{
    float: left;
    text-decoration: none;
    padding: 10px;
}

.top-nav li a{
    color: #865A21;
    font-weight: 400;
}

.nav-content{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

button.login-button{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    width: 101px;
    height: 54px;
    color: #fff;
    border: 1px solid #EA9F08;
    border-radius: 8px;
}

button.get-started{
    display: inline-flex;
    padding: 15px 30px;
    gap: 10px;
    width: 147px;
    color: #fff;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    border-radius: 8px;
}

.nav-buttons{
    display: inline;
    justify-content: space-between;
    /* padding: 0 40px 0 0; */
}