.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #865A21;
  /* position: fixed; */
  top: 0;
}

.main-nav li{
  float: left;
  padding: 10px;
  list-style: none;
}

.main-nav a{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  float: left;
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  color: #fff;
}

.nav-buttons{
  display: inline-flex;
  gap: 10px;
}


button.login-button{
  padding: 8px;
  color: #EA9F08;
  border: 1px solid #EA9F08;
  border-radius: 8px;
  background: transparent;
}

.get-started-header{
  padding: 8px;
  color: #fff;
  background: #EA9F08;
  border: 1px solid #EA9F08;
  border-radius: 8px;
}