.news-courses {
    height: 264px;
    background: url(/images/image2.png);
    background-color: #5E3F17;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.news-courses p {
    font-weight: 700;
    font-size: 61px;
    color: white;
}

.news-mid {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}

.div-1-nav a {
    color: #2D1E0B;
    width: 100%;
}

.news-div-2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    align-items: center
}

.news-active {
    background: #F6D89A;
    border: 1px solid;
    padding: 10px;
}

.news-div-2 img {
    width: 50vw;
    height: 100%;
}

.erica-news {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.erica-news p {
    font-size: 13px;
}

.news-maths-enroll {
    height: 50px;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    color: #fff;
    border-radius: 8px;
}

.course-news {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
    /* border-radius: 8px; */
    border: 1px solid #E0E0E0;
    width: 100%;
}

.news-tag {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #EB5757;
}