body{
    font-weight: 400;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #8b8b8b47;
}

.section-1{
    position: absolute;
    /* top: 0; */
    width: 100vw;
    height: 70%;
    background-image: linear-gradient(to right, rgb(250 244 255), rgb(94 63 23)), url(/images/image2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.welcome{
    height: 100%;
    width: 50vw;
    padding-left: 20px;
    background: linear-gradient(to left, rgb(250 244 255), rgb(253, 245, 230));
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.goon-2{
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2D1E0B;
}

.lorem{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2D1E0B;
}

.image-1{
    /* position: relative; */
    width: 30vw;
    height: 630px;
    /* left: 751px; */
    /* top: 84px; */
}

.goon-2{
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2D1E0B;
}

.goon-span{
    color: #EA9F08;
}

.section-buttons{
    display: inline-flex;
    gap: 20px;

}

.frame-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13.91px;
    /* position: absolute; */
    width: 83.44px;
    height: 817.27px;
    left: 624.55px;
    top: 169.55px;
    transform: rotate(-45deg);
}

.frame-10{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8.38px;

    /* position: absolute; */
    width: 50.29px;
    height: 492.6px;
    left: 1069px;
    top: 804.56px;

    transform: rotate(-45deg);
}



.section-1 h3{
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #2D1E0B;
}

.secto{
    display: flex;
    width: 100vw;
    height: 60%;
    justify-content: space-around;
    align-items: center;
}

.para-2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2D1E0B;
}

.section-2{
    display: flex;
    width: 100vw;
    height: 60%;
    background: #FDF5E6;
    justify-content: space-around;
}



.section-2 h3{
    width: 360px;
    height: 59px;
    /* left: 148px; */
    /* top: 137px; */
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #2D1E0B;      
}

.section-2 img{
    width: 324px;
    height: 324px;
    /* left: 862px; */
    /* top: 79px; */
}

.section-2 p{
    width: 527px;
    height: 162px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2D1E0B;
}

.vector-11{
    /* position: absolute; */
    width: 1330.5px;
    height: 719px;
    left: 18px;
    top: -86.5px;
    border: 1px dashed #A46F06;
    border-radius: 500px;
}

.section-3{
    display: inline;
    width: 100%;
    justify-content: space-between;
}   

.section-3 h3{
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #2D1E0B;
}

.section-3-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 49px 29px;
    gap: 30px;
    width: 100%;
    border-radius: 16px;
}

.course{
    display: flex;
    flex-direction: column;
    padding: 49px 29px;
    gap: 10px;
    box-shadow: 0px 0px 64px rgb(0 0 0 / 5%);
    border-radius: 8px;
}


.course p{
    width: 290px;
    height: 111px;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 120%;
    color: #2D1E0B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.maths-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 43px;
    width: 305px;
    height: 26px;
}

.mathsfree{
    /* width: 34px;
    height: 24px; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #865A21;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.maths-content-2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
}

.maths-enroll{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    width: 171px;
    height: 54px;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    color: #fff;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.section-4{
    height: 600px;
}

.section-4 .section_courses{
    background: #865A21;
    height: 250px;
}


.section-4 .section-title {
    display: flex;
    width: 100%;
    padding-block: 30px 20px;
}

.section-4 h3{
    font-size: 49px;
    color: #F2F2F2;
    text-align: center;
    width: 100%;
}


.courses {
    transform: translateY(30px);
}

.courses .cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.columns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
    gap: 5px 0px;
    width: 20%;
    height: 290.62px;
    background: #FDF5E6;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.cols .col-para{
    margin-bottom: 0;
    text-align: center;
}

.view{
    display: flex;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    width: 130px;
    height: 54px;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    color: #fff;
    border-radius: 8px;
}

.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 80px;
}

.columns .cols img {
    height: 57px;
    width: 57px;
}

.columns h4{
    height: 37px;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
}

.cols:hover{
    background: #865A21;
    border: 2px solid #F2F2F2;
    color: #fff;
}

