a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-header {
    position: fixed;
    /* width: 100%; */
    background-color: #8b8b8b47;
}

.section-1 {
    width: 100%;
    background: url(/images/image2.png);
    background-color: #5E3F17;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    /* padding: 20px; */
}

.welcome {
    width: 80%;
    padding-left: 80px;
    /* padding-right: 126px; */
    background: rgb(253, 245, 230);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    gap: 30px;
}

.goon-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: #2D1E0B;
}

.lorem {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2D1E0B;
}

.image-1 {
    width: 40vw;
    height: 100%;
    padding-right: 50%;
    /* padding-top: 40%; */
}

.goon-span {
    color: #EA9F08;
    border-bottom: 4px solid #EA9F08;
}

.section-buttons {
    gap: 20px;
}

.secto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: space-between;
    padding: 50px;
    text-align: center;
}

.section-2 {
    display: flex;
    width: 100%;
    height: 60%;
    background: #FDF5E6;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    padding: 40px;
}

.section-2 h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

}

.section-2 img {
    width: 240px;
    height: 240px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
    width: 100%;
}

.section-3 h3 {
    font-weight: 700;
    font-size: 35px;
    color: #2D1E0B;
}

.mathsfree{
    padding: 4px;
    gap: 6px;
    background: #F6D89A;
    color: #2D1E0B;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.fas{
    color: #EA9F08;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 16px;
    gap: 10px;
}

.rectangle {
    width: 100%;
    height: 180px;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 5%);
    border-radius: 8px;
}

.course p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #2D1E0B;
}

.maths-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #865A21;
}

.maths-content-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maths-enroll {
    box-sizing: border-box;
    gap: 10px;
    width: 120px;
    height: 50px;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 {
    height: 600px;
}

.section-4 .section_courses {
    background: #865A21;
    height: 250px;
}

.section-4 .section-title {
    display: flex;
    /* width: 100%; */
    padding-block: 30px 20px;
}

.section-4 h3 {
    font-size: 49px;
    color: #F2F2F2;
    text-align: center;
    width: 100%;
}

.courses {
    transform: translateY(30px);
}

.courses .cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.courses .cta .view-all {
    padding: 8px;
    color: #fff;
    background: #EA9F08;
    border: 1px solid #EA9F08;
    border-radius: 8px;
}

.columns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 35px 25px; */
    gap: 5px 0px;
    width: 22%;
    height: 290.62px;
    background: #FDF5E6;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.cols .col-para {
    margin-bottom: 0;
    text-align: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
}

.imgs img {
    width: 10%;
    height: 75px;
    padding-bottom: 20px;
}

.columns .cols img {
    height: 57px;
    width: 57px;
}

.columns h4 {
    height: 37px;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
}

.cols:hover {
    background: #865A21;
    border: 2px solid #F2F2F2;
    color: #fff;
}